:root {
  --color-bg: theme('colors.gray.100');
  --color-bg-light: theme('colors.white');
  --color-fg: theme('colors.gray.700');
  --color-fg-emphasized: theme('color.gray.900');
  --color-box-bg: theme('colors.gray.100');
  --color-primary: theme('colors.indigo.700');
  --color-primary-light: theme('colors.indigo.200');
}

html {
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
  @apply relative w-full max-w-3xl mx-auto px-6 pb-6 mb-4;
  @apply border-l border-r border-b border-solid rounded-b;
  @apply leading-normal;
}

body::after {
  content: 'Powered By GNU Emacs';
  @apply block pt-40 pb-20 text-center;
}

.header {
  background-color: var(--color-bg-light);
  @apply sticky top-0 z-10 flex justify-between items-center;
  @apply pt-6 mb-4;
}

.title {
  @apply text-3xl;
  @apply mt-0 mb-12 py-8;
  @apply border-t-4 border-b-4 border-solid;
  border-color: var(--color-primary);
}

/* TOC */
.toc-trigger {
  @apply fixed top-0 z-10;
  @apply border-2 border-t-0 border-solid rounded-b px-4 py-2;
  @apply opacity-50;
  @apply transition-opacity duration-200 ease-in-out;

  right: 1.5rem;
  background-color: var(--color-bg-light);
  border-color: var(--color-primary);
  color: var(--color-primary);

  &:hover {
    @apply opacity-100;
  }
}

#table-of-contents {
  @apply fixed z-20 top-0 right-0 p-4;
  @apply h-screen overflow-auto;
  @apply border-l border-solid shadow-md;
  @apply transition-transform duration-200 ease-in-out;
  background-color: var(--color-bg-light);
  border-color: var(--color-primary);
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  & h2 {
    @apply text-lg mt-4 mb-4;
  }

  & #text-table-of-contents {
    @apply pb-4;
  }

  & ul {
    @apply list-none;
    @apply pl-6;
    @apply mb-0;
  }

  & ul:first-child {
    @apply pl-0;
  }

  & a {
    @apply no-underline;
  }
}

#content {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: var(--color-fg-emphasized);
  @apply leading-none;
  @apply mt-10 mb-6;

  & a {
    @apply no-underline;
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
  @apply mt-16;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

/* paragraph */
p {
  @apply mb-4;
}

/* links */
a {
  color: var(--color-primary);
  @apply underline;
}

/* lists */
p {
  & + ul,
  & + ol {
    @apply -mt-4;
  }
}

.org-ul,
.org-ol {
  @apply list-inside;
  @apply mb-4;
}

.org-ul {
  @apply pl-4;

  & li {
    @apply relative;
  }

  & li::before {
    content: '-';
    position: absolute;
    left: -1rem;
    color: var(--color-primary);
  }
}

.org-ol {
  @apply list-decimal;
}

.org-dl {
  & dd {
    @apply pl-8;
  }
}

/* table */
table {
  @apply mb-4;
}

/* anotations */
blockquote,
.verse,
.note,
.warn,
.question {
  background-color: var(--color-box-bg);
  @apply relative;
  @apply border-l-2 border-solid;
  @apply px-4 pt-10 pb-4 mb-4;

  &::before {
    @apply absolute top-0 left-0;
    @apply leading-none font-mono px-2 py-1;
  }

  & p:last-child {
    @apply mb-0;
  }
}

blockquote,
verse {
  @apply border-green-500 bg-green-100;

  &::before {
    @apply bg-green-500 text-green-100;
    content: '"';
  }
}

.note {
  @apply border-blue-500 bg-blue-100;

  &::before {
    @apply bg-blue-500 text-blue-100;
    content: '#';
  }
}

.warn {
  @apply border-red-500 bg-red-100;

  &::before {
    @apply bg-red-500 text-red-100;
    content: '!';
  }
}

.note {
  @apply border-blue-500 bg-blue-100;

  &::before {
    @apply bg-blue-500 text-blue-100;
    content: '#';
  }
}

.question {
  @apply border-pink-500 bg-pink-100;

  &::before {
    @apply bg-pink-500 text-pink-100;
    content: '?';
  }
}

/* code */
pre,
code {
  @apply font-mono;
}

code {
  background-color: var(--color-box-bg);
  word-break: break-all;
  @apply rounded-sm;
  @apply px-2;
}

.org-src-container {
  background-color: var(--color-box-bg);
  @apply relative;
  @apply mb-4;

  & pre {
    @apply overflow-auto;
    @apply px-4 pt-6 pb-4;
  }

  & pre[class^='src src-']::before {
    background-color: var(--color-primary-light);
    @apply absolute top-0 right-0;
    @apply px-2 py-1;
    @apply leading-none;
  }

  & > pre.src-sh::before,
  & > pre.src-bash::before {
    content: 'Shell';
  }

  & > pre.src-html::before {
    content: 'HTML';
  }

  & > pre.src-css::before {
    content: 'CSS';
  }

  & > pre.src-js::before,
  & > pre.src-javascript::before {
    content: 'JavaScript';
  }

  & > pre.src-elixir::before {
    content: 'Elixir';
  }
}

/* kbd */
kbd {
  @apply inline-block;
  @apply border border-solid border-gray-400 rounded-sm;
  @apply px-2 leading-tight;
  @apply bg-white;
  box-shadow: inset 0 -2px 0 theme('colors.gray.500'); /* taken from GitHub */
}

/* figure */
figure {
  @apply mb-4;

  & img {
    @apply w-full max-w-full;
  }

  & figcaption {
    @apply text-center text-sm px-4 py-2;
    background-color: var(--color-primary);
    color: var(--color-bg-light);
  }
}

/* amble */
#preamble {
  @apply text-sm text-gray-500 py-4;

  &::before {
    content: 'Last Updated:';
  }
}
