:root {
  --color-bg: theme('colors.gray.100');
  --color-bg-light: theme('colors.white');
  --color-fg: theme('colors.gray.700');
  --color-fg-emphasized: theme('color.gray.900');
  --color-box-bg: theme('colors.gray.100');
  --color-primary: theme('colors.indigo.700');
  --color-primary-light: theme('colors.indigo.200');
  --gap-header-cell: 10px;
}

html {
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
  @apply w-full max-w-3xl mx-auto p-6 mb-4;
  @apply border-l border-r border-b border-solid rounded-b;
  @apply leading-normal;
}

body::after {
  content: 'Powered By GNU Emacs';
  @apply block pt-40 pb-20 text-center;
}

.header {
  @apply flex justify-between items-center;
  @apply mb-10;

  & .logo-wrapper {
    @apply flex flex-grow;
  }

  & .logo {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    @apply border-2 border-solid;

    color: theme('colors.white');
    @apply px-4 py-2;
    @apply whitespace-no-wrap;
    @apply no-underline;
  }

  & .logo-wrapper::after {
    content: '';
    background: repeating-linear-gradient(
      90deg,
      var(--color-primary),
      var(--color-primary) 2px,
      transparent 0,
      transparent var(--gap-header-cell)
    );

    @apply block w-full;
  }

  & .toc-trigger {
    border-color: var(--color-primary);
    @apply border-2 border-solid;

    color: var(--color-primary);
    margin-left: var(--gap-header-cell);
    @apply px-4 py-2;
  }
}

.title {
  @apply text-3xl;
  @apply mt-0 mb-8 pb-1;
  @apply border-b-4 border-dotted;
  border-color: var(--color-primary);

  &::after {
    content: '';
    @apply block w-full;
    @apply border-b-4 border-dotted;
    @apply pt-3;
    border-color: var(--color-primary);
  }
}

/* TOC */
#table-of-contents {
  display: none;

  & ul {
    @apply list-none;
    @apply pl-6;
    @apply mb-0;
  }

  & ul:first-child {
    @apply pl-0;
  }

  & a {
    @apply no-underline;
  }
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: var(--color-fg-emphasized);
  @apply leading-none;
  @apply mt-10 mb-6;

  & a {
    @apply no-underline;
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
  @apply mt-16;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

/* paragraph */
p {
  @apply mb-4;
}

/* links */
a {
  color: var(--color-primary);
  @apply underline;
}

/* lists */
p {
  & + ul,
  & + ol {
    @apply -mt-4;
  }
}

ul,
ol {
  @apply list-inside;
  @apply mb-4;
}

ul {
  @apply pl-4;

  & li {
    @apply relative;
  }

  & li::before {
    content: '-';
    position: absolute;
    left: -1rem;
    color: var(--color-primary);
  }
}

ol {
  @apply list-decimal;
}

/* anotations */
blockquote,
.verse,
.note,
.warn,
.question {
  background-color: var(--color-box-bg);
  @apply relative;
  @apply border-l-2 border-solid;
  @apply px-4 pt-10 pb-4 mb-4;

  &::before {
    @apply absolute top-0 left-0;
    @apply leading-none font-mono px-2 py-1;
  }

  & p:last-child {
    @apply mb-0;
  }
}

blockquote,
verse {
  @apply border-green-500 bg-green-100;

  &::before {
    @apply bg-green-500 text-green-100;
    content: '"';
  }
}

.note {
  @apply border-blue-500 bg-blue-100;

  &::before {
    @apply bg-blue-500 text-blue-100;
    content: '#';
  }
}

.warn {
  @apply border-red-500 bg-red-100;

  &::before {
    @apply bg-red-500 text-red-100;
    content: '!';
  }
}

.note {
  @apply border-blue-500 bg-blue-100;

  &::before {
    @apply bg-blue-500 text-blue-100;
    content: '#';
  }
}

.question {
  @apply border-pink-500 bg-pink-100;

  &::before {
    @apply bg-pink-500 text-pink-100;
    content: '?';
  }
}

/* code */
pre,
code {
  @apply font-mono;
}

code {
  background-color: var(--color-box-bg);
  @apply rounded-sm;
  @apply px-2;
}

.org-src-container {
  background-color: var(--color-box-bg);
  @apply relative;
  @apply mb-4;

  & pre {
    @apply overflow-auto;
    @apply px-4 pt-6 pb-4;
  }

  & pre[class^='src src-']::before {
    background-color: var(--color-primary-light);
    @apply absolute top-0 right-0;
    @apply px-2 py-1;
    @apply leading-none;
  }

  & > pre.src-sh::before,
  & > pre.src-bash::before {
    content: 'Shell';
  }

  & > pre.src-html::before {
    content: 'HTML';
  }

  & > pre.src-css::before {
    content: 'CSS';
  }

  & > pre.src-js::before,
  & > pre.src-javascript::before {
    content: 'JavaScript';
  }

  & > pre.src-elixir::before {
    content: 'Elixir';
  }
}

/* kbd */
kbd {
  @apply inline-block;
  @apply border border-solid border-gray-400 rounded-sm;
  @apply px-2 leading-tight;
  @apply bg-white;
  box-shadow: inset 0 -2px 0 theme('colors.gray.500'); /* taken from GitHub */
}
